body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

img {
    width: 100px;
    height: 100px;
  }

.section1 {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding-top: 10px;
    padding-left: 56px;
    padding-right: 56px;
    padding-bottom: 48px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;

}

.links {
    color: #e5e7eb;
    display: flex;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
}


li {
    display: inline-block;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}

.hero {
    color: #e5e7eb;
}

.hero_main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.subtext {
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
}

button {
    background-color: #3882f6;
    color: #eee;
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    border-style: solid;
    border-color: #eee;
}

.image {
    display: flex;
}
.image > h4 {
    display: flex;
    flex-direction: column;
    color: #e5e7eb;
    background-color: rgb(124, 124, 124);
    justify-content: center;
    text-align: center;
    height: 280px;
    margin: 5px;
    width: 560px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    /* Centers content */
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.plants {
    /* flex plant container */
    display: flex;
    flex-direction: row;
  
    /* center items in container horizontally */
    justify-content: center;
  
    /* align all items center */
    align-items: center;
  
    /* add 52px between each item */
    gap: 52px;

    padding-bottom: 36px;
}

#one,
#two,
#three,
#four {
    /* align items center and set fixed width of 200px */
    text-align: center;
    flex-basis: 200px;
}
  
.text {
    /* centers and wraps text classes*/
    text-align: center;
    white-space: pre-wrap;
    word-wrap: break-word;
}


.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding-left: 700px;
    padding-right: 700px;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.quote > p {
    font-style: italic;
    color: #1f2937;
    font-size: 36px;
    justify-content: center;
    padding: 36px;
}
.quote > h4 {
    text-align: end;
}


.action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    margin: 36px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 120px;
    padding-right: 120px;
    border-radius: 6px;
}

.action > button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.call {
   display: flex;
   flex-direction: column;
   color: #e5e7eb;s
}

.call > p {
    margin: 0;
}

.call > h4 {
    font-size: 18px;
}

.footer {
    /* fixes footer to bottom of page and keeps from shrinking when resized */

    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    bottom: 0px;
    background-color: #1f2937;
    color: #eee;
    justify-content: center;
    padding-top: 36px;
    padding-bottom: 36px;
    width: 100%;
}